{% extends "admin/change_list.html" %}

{% block object-tools-items %}

<li>
    <a
        href="{{ export_current_month_excel_url }}"
        title="Export {{ current_persian_month_name }} {{ current_persian_year }} as Excel"
    >
        Export Current Month · Excel
    </a>
</li>

<li>
    <a
        href="{{ export_current_month_csv_url }}"
        title="Export {{ current_persian_month_name }} {{ current_persian_year }} as CSV"
    >
        Export Current Month · CSV
    </a>
</li>

<li>
    <a href="{{ import_url }}" class="addlink">
        Import Transactions
    </a>
</li>

{{ block.super }}

{% endblock %}